.Carousel {
  border: 4px solid #efefef;
  overflow: hidden;
  padding-top: 4px
}

.Carousel-slide {
  font-size: 60px;
  text-align: center;
  height: 246px;
  line-height: 246px;
  color: #fff;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
}

.Carousel-controls {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.Carousel-button {
  font-size: 20px;
  background: none;
  border: none;
  appearance: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f3f3f3;
  outline: none;
}

.Carousel-button:focus {
  box-shadow: 0 0 0 2px #29b6f6
}

.Carousel-button:hover {
  background-color: #fff;
}

.Carousel-button:active {
  background-color: #c9eeff;
}
